header {
    background: darkgreen;
    padding: 20px;
}

.caixa {
    height: 45%;
	position: relative;
    width: 90%;
}

.logocabecalho {
    width: 300px;
    height: 300px;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

.sinopse {
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
}

footer{
    padding: 20px;
    text-align: center;
    background: rgb(57, 238, 57);
    background-position: center;
}

.logorodape {
    width: 120px;
    height: 120px;
}

.copyright {
    font-size: 13px;
    color: black;
    margin: 20px 0 0;
}
